[submodule "g2a-protocol"]
	path = g2a-protocol
	url = git@github.com:dynamicagents/g2a-protocol.git
	branch = main
[submodule "slack-gatekeeper"]
	path = slack-gatekeeper
	url = git@github.com:dynamicagents/slack-gatekeeper.git
	branch = main
